html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  position: relative;
  display: flex;
  flex-flow: column;
}
.topMenu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 62px;
  padding: 0 24px;
}
.topMenu a {
  margin-right: 18px;
  text-decoration: none;
}
.animated-page-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
}
.page {
  background-color: #00ffff;
  padding: 20px 30px;
}
